@font-face {
    font-family: 'Cascadia code';
    src: 
        local("Cascadia code"),
        url('https://fonts.cdnfonts.com/css/cascadia-code');
    /* font-feature-settings: "ss01"; */
}

body {
    padding: 5em;
    font-family: 'Cascadia code', monospace;
    font-feature-settings: "ss01";
}

footer {
    position: absolute;
    bottom: 5em;
}