@font-face {
    font-family: 'Cascadia code';
    src: 
        url("./assets/fonts/CascadiaCode.woff2") format("woff2");
}

@font-face {
    font-family: 'Cascadia code';
    src:
        url("./assets/fonts/CascadiaCodeItalic.woff2") format("woff2");
    font-feature-settings: "ss01";
    font-style: italic;
}

body {
    padding: 2em;
    font-family: 'Cascadia code', monospace;
    font-feature-settings: "ss01";

    color: black;
}

a {
    color: slateblue;
    text-decoration: none;
}

a:hover {
    color: darkslateblue;
}

footer {
    padding-top: 2em;
}

footer .icon {
    font-size: 2em;
    margin: 0 1ch 0 0;
}