:root {
  --border-spacing: 1rem;

  --font-serif: "cmu serif", "noto serif cjk kr", serif;
  --font-sans: "mona sans", "noto sans cjk kr", sans-serif;
  --font-mono: "cascadia mono nf", "d2coding", monospace;
  --font-main: var(--font-sans);

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-heavy: 900;

  --color-red: #e84e75;
  --color-red-dark: #c33c5e;
  --color-red-darker: #a32c4d;
  --color-yellow: #ffd100;
  --color-yellow-dark: #e6b800;
  --color-yellow-darker: #cc9c00;
  --color-mint: #65bba8;
  --color-mint-dark: #5f9d8b;
  --color-mint-darker: #5a8f7e;
  --color-green: #85bb65;
  --color-green-dark: #6f9d5f;
  --color-green-darker: #5f8f5a;
  --color-blue: #636ebb;
  --color-blue-dark: #5a5f8f;
  --color-blue-darker: #3b3b6a;

  --color-ayu-dark-text: #b3b1ad;
  --color-ayu-dark-background: #0f1419;
  --color-ayu-dark-variable: #f29718;
  --color-ayu-light-text: #575f66;
  --color-ayu-light-background: #fafafa;
  --color-ayu-light-variable: #f29718;

  --color-text: #555;
  --color-text-muted: #999;
  --color-selection: #e0e0e0;

  --color-background: #fff;
}

/* ========================================================================== */
/* Basics                                                                     */
/* ========================================================================== */

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-background);
  overflow-wrap: break-word;
}

/* ========================================================================== */
/* Template elements                                                          */
/* ========================================================================== */

.title {
  padding: var(--border-spacing) var(--border-spacing) 0 var(--border-spacing);
  margin: 0;
  font-size: 2rem;
}

nav {
  padding: 0 var(--border-spacing);
  margin: 1rem 0 2rem 0;

  ul {
    list-style-type: none;
    line-height: 1.75;
    padding-left: 0;

    & > li > ul {
      padding-left: 1.5em;
    }
  }

  a {
    &,
    &:visited,
    &:active {
      color: var(--color-blue);
    }

    &:hover {
      color: var(--color-blue-dark);
    }
  }

  #toc-top {
    display: none;
  }
}

.kiwi-wiki-description {
  padding: 0 var(--border-spacing) var(--border-spacing) var(--border-spacing);
  font-size: 0.75rem;
  margin: 4rem 0 0 0;

  h2 {
    margin: 0;
    font-size: 1.25rem;
  }

  p {
    margin-top: 0.5em;
  }

  .site-links {
    display: flex;
    gap: 1em;

    a {
      &,
      &:visited,
      &:active {
        color: var(--color-red);
      }

      &:hover {
        color: var(--color-red-darker);
      }
    }
  }
}

main {
  padding: 0 var(--border-spacing);
  width: calc(100% - 2 * var(--border-spacing));
  overflow: auto;
}

@media screen and (min-width: 50rem) {
  :root {
    --border-spacing: 2rem;
  }

  body > * {
    padding: 0;
  }

  .title {
    padding: var(--border-spacing) var(--border-spacing) 0 var(--border-spacing);
  }

  nav {
    padding: 0 var(--border-spacing);
    max-height: 100%;
    overflow: auto;

    #toc-top {
      display: block;
    }
  }

  main {
    padding: var(--border-spacing);
    height: calc(100vh - 2 * var(--border-spacing));

    & > * {
      max-width: 75em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 100vh;
      }
    }
  }

  .kiwi-wiki-description {
    padding: 0 var(--border-spacing) var(--border-spacing) var(--border-spacing);
    margin: 0;
  }
}

/* ========================================================================== */
/* Contents                                                                   */
/* ========================================================================== */

p {
  line-height: 1.75em;
}

/* Headings ================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--border-spacing) 0 0 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

:is(h3, h4, h5, h6) + p {
  margin-top: 0.25rem;
}

.top-marker {
  visibility: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;

  & + * {
    margin-top: 0;
  }
}

/* Links ===================================================================== */

a {
  &,
  &:visited,
  &:active {
    color: var(--color-mint);
    text-decoration: none;
  }

  &:hover {
    color: var(--color-mint-darker);
    text-decoration: underline;
  }
}

a.external::after {
  font-family: "cascadia mono nf";
  content: "";
  margin: 0 0.25ch;
}

/* Blockquotes =============================================================== */

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
  color: var(--color-green);
  border-left: 0.1rem solid var(--color-green);

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    color: var(--color-green-darker);
  }
}

/* Lists ===================================================================== */

ul,
ol {
  padding-left: 1em;

  &:first-child {
    margin-top: 0;
  }
}

li {
  margin: 0.25em 0;
}

/* Images ==================================================================== */

figure {
  margin: 0;
  padding: 0;
}

/* Code ====================================================================== */

code {
  padding: 0.1em 0.25em;
  margin: 0 0.1em;
  font-family: var(--font-mono);
  font-size: 0.8em;
  /* color: var(--color-ayu-light-text); */
  /* background-color: var(--color-ayu-light-background); */
  /* border: 1pt solid #ddd; */
  border-radius: 3pt;
  font-weight: 350;
}

pre {
  white-space: pre-wrap;
  padding: 0.75em;
  /* color: var(--color-ayu-light-text); */
  /* background-color: #f7f7f7; */
  border-radius: 0.5rem;
  overflow-x: auto;

  code {
    padding: 0;
    font-size: 0.75em;
    border: none;
    background-color: transparent;

    span {
      /* Alert */
      /* Annotation     */
      /* Attribute      */
      /* BaseN          */
      /* BuiltIn        */
      /* ControlFlow    */
      /* Char           */
      /* Constant       */
      /* Comment        */
      /* CommentVar     */
      /* Documentation  */
      /* DataType       */
      /* DecVal         */
      /* Error          */
      /* Extension      */
      /* Float          */
      /* Function       */
      /* Import         */
      /* Information    */
      /* Keyword        */
      /* Operator       */
      /* Other          */
      /* Preprocessor   */
      /* SpecialChar    */
      /* SpecialString  */
      /* String         */
      /* Variable       */
      /* VerbatimString */
      /* Warning        */
      &.al {
        color: #f29718;
      }

      &.an {
        color: #d3423e;
        font-style: italic;
      }

      &.at {
        color: #d3423e;
      }

      &.bn {
        color: #f29718;
      }

      &.bu {
        color: #399ee6;
      }

      &.cf {
        color: #f29718;
      }

      &.ch {
        color: #86b300;
      }

      &.cn {
        color: #f29718;
      }

      &.co {
        color: #abb0b6;
        font-style: italic;
      }

      &.cv {
        color: #abb0b6;
        font-style: italic;
      }

      &.do {
        color: #abb0b6;
        font-style: italic;
      }

      &.dt {
        color: #575f66;
      }

      &.dv {
        color: #f29718;
      }

      &.er {
        color: #575f66;
      }

      &.ex {
        color: #575f66;
      }

      &.fl {
        color: #f29718;
      }

      &.fu {
        color: #399ee6;
      }

      &.im {
        color: #399ee6;
      }

      &.in {
        color: #abb0b6;
        font-style: italic;
      }

      &.kw {
        color: #f29718;
      }

      &.op {
        color: #575f66;
      }

      &.ot {
        color: #f29718;
      }

      &.pp {
        color: #f29718;
      }

      &.sc {
        color: #575f66;
      }

      &.ss {
        color: #86b300;
      }

      &.st {
        color: #86b300;
      }

      &.va {
        color: #d3423e;
      }

      &.vs {
        color: #86b300;
      }

      &.wa {
        color: #abb0b6;
        font-style: italic;
      }
    }
  }
}

@media screen and (min-width: 50rem) {
  pre {
    padding: 1em;
    line-height: 1.75em;
  }

  pre code {
    font-size: 0.9rem;
  }
}

/* Math ====================================================================== */

.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 1em !important;
}

/* citations ================================================================= */

.citation {
  color: var(--color-mint);

  &:hover {
    color: var(--color-mint-darker);
  }

  a {
    color: inherit;
  }

  blockquote & {
    font-style: normal;
    color: inherit;
  }
}

.csl-entry {
  font-size: 0.75rem;
  margin-top: 1rem;
  display: flex;
  gap: 1em;
  line-height: 1.75;
}

#bibliography {
  font-size: 1rem;
}

/* =========================================================================== */
/* Other                                                                       */
/* =========================================================================== */

::selection {
  background-color: var(--color-selection);
}

img {
  max-width: 100%;
  height: auto;
}

:target {
  scroll-margin-top: var(--border-spacing);
}
